<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Device Ip</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Device Ip</ion-label>
        <ion-input placeholder="192.168.0.1" #ip></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="onAddIp(ip.value)">
          Submit
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
