<ng-container *ngIf="device.event$ | async as event">
  <ion-header>
    <ion-toolbar
      [color]="event.alert ? 'warning' : event.error ? 'danger' : 'success'"
    >
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="construct-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        <ng-container *ngIf="event.alert; else defaultTitle"
          >Alert</ng-container
        >
        <ng-container *ngIf="event.error">Error</ng-container>
        <ng-template #defaultTitle>
          Device Info
        </ng-template>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="drawer.toggleState()">
          <ion-icon
            name="arrow-up-circle-outline"
            [hidden]="isOpened"
          ></ion-icon>
          <ion-icon
            name="arrow-down-circle-outline"
            [hidden]="!isOpened"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ng-container *ngIf="event.data">
      Nearby {{deviceCount(event.data)}} device( 's).
    </ng-container>
    <ng-container *ngIf="event.alert">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Alert Triggered</ion-card-title>
        </ion-card-header>
        <div class="card-img">
          <img src="/assets/alarm.gif" alt="" />
        </div>
      </ion-card>
    </ng-container>
    <ng-container *ngIf="event.error">
      Sorry something went wrong :(
    </ng-container>
  </ion-content>
</ng-container>
