.content-container {
  --background: #731a1a;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#logocontainer {
  display: block;
  width: 50vh;
  height: 34vh;
  overflow: hidden;
  transition: background-color 500ms;
  position: relative;
}

#pelogo {
  display: block;
  position: absolute;
  left: 2vh;
  top: 2vh;
  width: 100%;
  height: 30vh;
  background: #731a1a;
  // background: -moz-linear-gradient(-45deg, #731a1a 0%, #161222 100%);
  // background: -webkit-linear-gradient(-45deg, #731a1a 0%, #161222 100%);
  // background: linear-gradient(135deg, #731a1a 0%, #161222 100%);
  background-size: contain;
  font-family: Trebuchet MS, sans-serif;
  font-size: 20vh;
  font-weight: bold;
  color: #be5f5f;
  text-align: center;
  line-height: 30vh;
}

.logo-sub {
  display: block;
  position: absolute;
  bottom: 25px;
  right: 0;
  // background-color: red;
  color: white;
  // border-radius: 20px;
  padding: 5px 10px;
}

.google-button {
  width: 100%;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
  text-transform: capitalize;
}
