.ios,
.md {
    app-drawer {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999 !important;
        // box-shadow: 0px -4px 22px -8px rgba(0, 0, 0, 0.75);
    }
}